<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.clamour.mangalcity">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fab"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fab"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".profile.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.GetOtp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.RegistrationActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.SlidingSplash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.DrawerBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.UserProfile"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".sidebar.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sidebar.AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostTabs.CommonPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".countrypost.CountryPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".districtpost.DistrictPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".statepost.StatePost"
            android:screenOrientation="portrait" />
        <activity android:name=".PostTabs.ActivityLog" />
        <activity android:name=".PostTabs.SharePostActivity" />
        <activity android:name=".PostTabs.FeedBackActivity" />
        <activity android:name=".Home.OtherUserProfile" />
        <activity android:name=".Home.BottomNavigationPostActivity" />
        <activity android:name=".Home.OpenImageActivity" />
        <activity android:name=".Home.SearchActivity" />
        <activity android:name=".facebookplayer.VideoPlaying"></activity>
    </application>

</manifest>